In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [2]:
def log_progress(sequence, every=None, size=None, name='Items'):
    from ipywidgets import IntProgress, HTML, VBox
    from IPython.display import display

    is_iterator = False
    if size is None:
        try:
            size = len(sequence)
        except TypeError:
            is_iterator = True
    if size is not None:
        if every is None:
            if size <= 200:
                every = 1
            else:
                every = int(size / 200)     # every 0.5%
    else:
        assert every is not None, 'sequence is iterator, set every'

    if is_iterator:
        progress = IntProgress(min=0, max=1, value=1)
        progress.bar_style = 'info'
    else:
        progress = IntProgress(min=0, max=size, value=0)
    label = HTML()
    box = VBox(children=[label, progress])
    display(box)

    index = 0
    try:
        for index, record in enumerate(sequence, 1):
            if index == 1 or index % every == 0:
                if is_iterator:
                    label.value = '{name}: {index} / ?'.format(
                        name=name,
                        index=index
                    )
                else:
                    progress.value = index
                    label.value = u'{name}: {index} / {size}'.format(
                        name=name,
                        index=index,
                        size=size
                    )
            yield record
    except:
        progress.bar_style = 'danger'
        raise
    else:
        progress.bar_style = 'success'
        progress.value = index
        label.value = "{name}: {index}".format(
            name=name,
            index=str(index or '?')
        )

In [3]:
path_data_science = './Q2_data_scraping/seek_data_science.csv'
path_data_analytic ='./Q2_data_scraping/seek_data_analytic.csv'

In [7]:
df_science = pd.read_csv(path_data_science)
df_analytic = pd.read_csv(path_data_analytic)

In [8]:
df_science.drop(columns = ['Unnamed: 0'], inplace = True)
df_analytic.drop(columns = ['Unnamed: 0'], inplace = True)

In [9]:
df_science.head(2)

,url,job_title,company,date,location,employment_type,field,description
0,https://www.seek.com.au/job/37458564?type=prom...,Data Analyst/Data Scientist,NaN,12 Oct 2018,Perth,Contract/Temp,Information & Communication Technology,The CompanyMSC Mediterranean shipping company ...
1,https://www.seek.com.au/job/37537274?type=stan...,"Data Developer, Data Architect, Data Science, ...",NaN,23 Oct 2018,Melbourne,Full Time,Information & Communication Technology,"Data Scientists | R, Python, SAS"

In [23]:
df_analytic.head(2)

,url,job_title,company,date,location,employment_type,field,description
0,https://www.seek.com.au/job/37356322?type=prom...,Lead Industry Analyst,NaN,1 Oct 2018,Melbourne,Full Time,Marketing & Communications,About SEEKSEEK is a diverse group of companies...
1,https://www.seek.com.au/job/37356324?type=prom...,Lead Industry Analyst,NaN,1 Oct 2018,Melbourne,Full Time,Consulting & Strategy,About SEEKSEEK is a diverse group of companies...

### Remove duplicated

In [22]:
df_analytic[~df_analytic.description.duplicated()].shape

(1188, 8)